@*
x] 2013-12-28 - @article.path - doesnt work because path is not set, qry Articles returns records list, not record where the calculated feilds(chapter, book) are set/populate
x] 2014-03-05 - FIX PRB 3543 (10) 

] removed the pipe(|) char used in the navigation title, NOTE also removed chars in Address OR view 

*@

@{ 
    // 2013-10-24 - REVISION replaced LibraryData methood call with OO Article method call, ** IMPORTANT!! ** returning IEnumerable(records) VS single record
    // GET args from qstring
    var articleName = UrlData[0];
    
    DateTime today = articleName.AsDateTime();
    if (articleName.IsEmpty())       
    {
        today = DateTime.Now;
        articleName = today.ToString("yyyy-MM-dd");
    }
    DateTime yesterday = today.AddDays(-1); 
    DateTime tommorow = today.AddDays(1);
    
 @* NEW TEST - AJAX 

    var layout = Request["layout"];

    if (layout == "no"){
        Layout = "../Shared/_SiteLayout_ajax.cshtml"; 
    }  
    *@
    // GET current user
     User u = (User)Session["current_user"];
    _App cur_App = new _App("subjects");
    
    // var article = LibraryData.GetArticleByName(articleName);
    
    // var articles = Article.GetArticlesByName(articleName);
    
    // if (articles == null){}
    var articles = Article.GetArticlesByCreatedDate(articleName);
    
    
    // PageData["ViewTitle2"]="~ view article -"+@article.name_article;
    
    //SET title, open DB, define selectQry and open articles recordset
    // Session["current_app"]= "subjects";
    PageData["Title"]="("+Session["current_db"]+").sospep."+cur_App.name_app;
    //PageData["ViewTitle"]="~ view article details IN [";
    PageData["ViewTitle"]="~ view article ~";
    
    // NEW
    //PageData["Name"]=article.name_article;
    //PageData["Description"]=article.description_article;
    
    // FEATURE 789 - photos 
    var imgPath = Href("~/users/"+@Session["current_db"].ToString()+"/");   
    
    // FEA! #] 552 - email
    // PageData["id_record"] = article.id_article; // WA until OOP impl completed
    // TEST for value passed in from URL IF none, send to search articles
    if (articleName.IsEmpty()) { 
        //Response.Redirect(@Href("~/viewSubjectLibraryBookChapterArticles.cshtml/"+@article.parent_id)); 
        Response.Redirect(@Href("~/view/articles"));
        // NEXT 
        //Response.Redirect(@Href("~/find/article"));
    }
    
   
    // ? create string rep as well to save multiple calls to yesterday.ToString, 

    
    @*
    / diff1 gets 185 days, 14 hours, and 47 minutes.
			System.TimeSpan diff1 = date2.Subtract(date1);

			// date4 gets 4/9/1996 5:55:00 PM.
			System.DateTime date4 = date3.Subtract(diff1);
    *@
    
}



@section header{    
<style>  
    body { 
        margin: 0;	
        padding: 0;
	    font: normal 10px Tahoma, Verdana, Arial, Helvetica, sans-serif;
         /*font-family: Tahoma, Verdana, Geneva, sans-serif;width: 85%;margin: 20px auto;*/
	    line-height: 1.8em;
	    /*background: #1d1d1d*/
        background:gray;
    }
    
    h1 {font-size:large;color:Black;
    
    }
    
    h2 {font-size:medium;color:Black;
    }
    .center {
        margin-top:30px;
        margin-left: auto; 
        margin-right: auto; 
        width:66%;
    }
    .error {
        border: 5px solid;  
        border-color:Black;  
        font-size:medium; 
        background-color:lightGray;  
        padding: 20px;
    }
</style>
}

<div id="wrapper" class="center error">
            
<div id="banner">
<!--
<img src="/images/top_banner.gif"/>-->
    <a href="http://sospep.com" style="text-decoration:none;color:#997;" >
    <img src="http://sospep.com/images/banner_sospep_news_views1.jpg"  alt="sospep : news and views" style="border:4px solid; border-color:Black; margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;" >
    </a>
</div> 
    
    <div>
            <h1>welcome to sospep-subjects</h1>    
                
            <h2>... your knowledge manager - delivering the FACTS on "your subjects" ...  </h2>    
            
            <p> Here is an example of 1 users content subscriptions from the public sospep, remember "you choose" the subjects that you're interested in, and "you choose" the amount of information that you want to recieve and "you choose" how often you want to recieve it and "you choose" how you want to recieve it AND its easy too choose</p>
            
                
            @*  // @Html.Raw(@Server.HtmlDecode(@article.content_article)) *@
            <h1><a href="@Href("~/view/new/"+@yesterday.ToString("yyyy-MM-dd"))">yesterday</a> < [@today.ToString("yyyy-MM-dd")] > <a href="@Href("~/view/new/"+@tommorow.ToString("yyyy-MM-dd"))">@tommorow.ToString("yyyy-MM-dd")</a> </h1>    
        
        
        <ul>
        @foreach(var article in articles)
        {
            <li>
		        <a href="@Href("~/view/article?id="+@article.id_article)" target="_blank">@article.name_article</a> - @article.description_article
                <ul>
                    <li>in: @article.getPath()</li>
                </ul>
            </li>           
        }
        </ul>
    <!-- end CONTENT -->
    </div> 
<!-- end ALL wrapper-->
</div>